.quadric-node {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding: 11px;
    border-radius: 9px;

    position: relative;
    &:hover {
        opacity: 0.8;
        .node-tools-bar {
            display: flex;
            flex-direction: column; /* Adjust to display tools vertically */
            align-items: flex-start;
        }
    }
    .node-header {
        padding-bottom: 5px;
        text-align: left;
        color: white;
        font-weight: 500;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }
    
    .node-body {
        color: white;
        font-weight: 300;
        padding-top: 5px;
        
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .node-tools-bar {
        display: flex;
        cursor: default;
        background-color: #F2F0EE;
        border: 1px solid #BEBEBE;
        border-radius: 5px;

        padding: 0px 5px 0 5px;

        position: absolute;
        display: none;
        flex-direction: row;
        gap: 2px;
        right: -90px;
        top: -10px;

        > img {
            cursor: pointer;
            filter: invert(1);
            opacity: 0.3;
            
            &:hover {
                opacity: 0.7;
            }
        }
        .input-note {
            width: 140px;
            height: 20px;
            padding-left: 15px;
            padding-right: 15px;
            margin: 3px;
            border: 1px solid #ddd;
            border-radius: 4px;
            font-size: 10px;
          
            &:focus {
              outline: none;
              border-color: #5cb3fd; /* Change the border color when focused */
              box-shadow: 0 0 5px rgba(92, 179, 253, 0.7); /* Add a subtle box shadow when focused */
            }
          }
          
          button {
            width: 80px;
            margin: 5px;
            background-color: #f2f0ee;
            // border: #bebebe;
            border: 2px solid #bebebe;
            color: #bebebe;
            padding: 4px 5px;
            border-radius: 4px;
            cursor: pointer;
            font-size: 10px;
          
            &:hover {
                border: 2px solid #33b6ff;
                color: #33b6ff;

            }
          
            &:focus {
              outline: none;
            }
          }
        
        .connection {
            text-align: left;
            font-size: 10px;
        }
        
        

        .edit-node-properties {
            padding: 10px;
            // display: flex;


              button {
                height: auto;
                width: auto;
                background-color: #337dd3;
                color: #fff;
                border: none;
                padding: 10px 15px;
                border-radius: 4px;
                cursor: pointer;
                font-size: 12px;
          
                &:hover {
                  background-color: #215590;
                }
              }
            h1 {
                font-size: 11px;
            }
            .list-of-properties {
                height: 200px;
                overflow: scroll;
                display: flex;
                flex-direction: column;
                gap: 5px;
                text-align: left;
                .prop-vision {
                    a {
                        text-align: left;
                        font-size: 10px;
                    }
                }
            }

            
        }
    }
}
.node-add-connection {
    h1 {
        font-size: 11px;
    }
}
.node-color-picker {
    display: flex;
    align-items: center; /* Align items vertically in the container */
    margin-top: 10px;

    
  }
  .color-picker-label {
    color: #828282;

    margin-left: 5px; /* Adjust the margin as needed */
   
  }
  p {
    font-size: 12px;
    color: #828282;
    /* Adjust the font size as needed */
  }
  
  .edit-node-footer {
    padding-top: 5px;
    display: flex;
    // justify-content: center;
    align-items: center;
    > img {
        width: 20px;
        filter: invert(1);
        opacity: 0.3;
    }
    > a {
        opacity: 0.3;
        font-size: 10px;
    }
    &:hover {
        cursor: pointer;
        > img, a {
            opacity: 0.7;
        }
    }
}